<div class="container">
  <p>
    Adiciona una nueva ciudad.
  </p>
  <form action=""> 
    <div class="form-group">
      <label >Ciudad</label>
      <input type="text" class="form-control" name='ciudad_nom' [(ngModel)]="ciudad.ciudad_nom" placeholder="Nueva ciudad">
    </div>
    <button  class="btn btn-primary" (click)="edit ? updateCiudad() : saveCiudad()">Guardar</button>
  </form> 

</div>
