<div class="container">

<h1 style="blue">
  CIUDADES
</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ciudad of ciudades">
      <th scope="row">1</th>
      <td>{{ciudad.ciudad_nom}} </td>
      <th>
        <a [routerLink]="['/ciudades/edit', ciudad.ciudad_id]" class="btn btn-info btn-warning ">Edit</a> 
      </th>      
      <th>
        <a class="btn btn-danger" (click)="deleteCiudad(ciudad.ciudad_id)"> Delete </a>
      </th>
      
    </tr>
    <tr>
    </tr>
  </tbody>
</table>

</div>
